
@{
    ViewData["isDashboard"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Summary Widgets*@
<div class="row mb-4">

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary equity">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-inr fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Equity Investment</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalEquityInvestment</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary debt">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-inr fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Debt Investment</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalDebtInvestment</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary gold">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-inr fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Gold Investment</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalGoldInvestment</h1>
            </div>
        </div>
    </div>
</div>


@*Doughnut Chart Asset Allocation*@

      <div class="row mb-4">  
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold align-content-center">Asset Wise Allocation</h5>
            </div>
            <ejs-accumulationchart id="assetallocationdoughnutchart" enableSmartLabels background="#1a222b"  enableSmartLabels="true"  textRender="textRender">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.AssetAllocation"
                                           xName="assetClass" yName="investmentamount"
                                           legendShape="Circle" 
                                           palettes=@(new string[]{"#ff3300","#99cc00","#ffff00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        <e-accumulationseries-datalabel name="formattedinvestmentamount" visible="true"></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>

@*<script>
        var textRender = function (args) {
            args.text = args.point.percentage + "%";
        };
</script>*@

@*Doughnut Chart Market Cap Allocation*@

       
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold align-content-center">Market Cap Wise Allocation</h5>
            </div>
            <ejs-accumulationchart id="marketallocationdoughnutchart" enableSmartLabels background="#1a222b"  enableSmartLabels="true"  textRender="textRender">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.MarketAllocation"
                                           xName="marketCap" yName="investmentamount"
                                           legendShape="Circle" 
                                           palettes=@(new string[]{"#6699ff","#ffcc00","#ff471a","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        <e-accumulationseries-datalabel name="formattedinvestmentamount" visible="true"></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>

    @*<script>
        var textRender = function (args) {
            args.text = args.point.percentage + "%";
        };
</script>*@

    @*Doughnut Chart Market Cap Allocation*@

       
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold align-content-center">Risk Wise Allocation</h5>
            </div>
            <ejs-accumulationchart id="riskallocationdoughnutchart" enableSmartLabels background="#1a222b"  enableSmartLabels="true"  textRender="textRender">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.RiskWiseAllocation"
                                           xName="assetClass" yName="investmentamount"
                                           legendShape="Circle" 
                                           palettes=@(new string[]{"#ff3300","#99cc00","#ffff00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        <e-accumulationseries-datalabel name="formattedinvestmentamount" visible="true"></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>

    </div>
<script>
        var textRender = function (args) {
            args.text = args.point.percentage + "%";
        };
</script>

